body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 0, 0, 1) 100%);
    color: white;
    margin: 0px;
}

header {
    padding: 20px;
    border-bottom: 2px solid rgb blue;
}

.secundario-imagens {
    display: flex;
    justify-content: center;
}

.imagemquatroamg {
    height: 25rem;
    border: 2px;
    border-style: solid;
    border-color: #ffff;
}

.descricao__texto {
    text-align: center;
}
 
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


.container_video {
    display: flex;
    justify-content: center;
}

.loucosimg {
    height: 25rem;
    border: 2px;
    border-style: solid;
    border-color: #ffff;
}

.logoimg {
    width: 25rem;
    display: flex;
    justify-content: center;
}

.topo {
    display: flex;
    justify-content: center;
    
}

@media (min-width:800px) {
    .logoimg {
        width: 8%;
    }

}


.nacional {
    text-align: center;
}

